/*
p{color: blue; font-size: 24px; background: grey;}
h2{background: orange; text-align: center;}


#a{background: grey;}
.b{color: red; text-align: center;}
#demo{border: solid;}
.txt{text-align: right; color: green;}

#hello{text-decoration: underline; color: aqua;}
.result{text-align: center; background: orange;}

*/
h1{background: blue  !important;}